<div class="about-container">
    <div class="about-header">
        <p>InfoSecPH</p>
    </div>
    <div class="about-us">
        <div class="about-logo">
            <div class="img-container-4"><img src="https://i.imgur.com/P7yu8PD.png"></div>
        </div>
        <div class="about-desc">
            <h1 class="about-p-header">ABOUT US</h1>
            <p>
                Welcome to InfoSecPH, a vibrant social media platform dedicated to fostering discussions on cybersecurity, programming, technology, and related topics. Our community thrives on knowledge sharing, collaboration, and exploration of cutting-edge technologies.<br><br>

                Whether you're a seasoned cybersecurity professional, a passionate programmer, or simply tech-curious, you'll find a wealth of resources and engaging discussions here. We also welcome communities focused on entertainment, creating a diverse and inclusive environment for all.<br><br>

                Join us in exploring the ever-evolving world of technology, sharing insights, and connecting with like-minded individuals. Together, let's build a supportive and enriching community at InfoSecPH.<br><br>
            </p>
        </div>
    </div>
    
    <div class="about-creator">
        <p>About The Creators</p>
    </div>

    <div class="creator-container">
        <div class="creator">
            <div class="img-container-5"><img src="https://i.imgur.com/HSBHdyx.jpeg"></div>
            <div class="creator-name">
                <p class="name">Wads</p>
                <p class="quote">"I am bored, but thats just life"</p>
            </div>
        </div>
        <div class="creator">
            <div class="img-container-5"><img src="https://i.imgur.com/LhA6AfM.jpeg"></div>
            <div class="creator-name">
                <p class="name">Del</p>
                <p class="quote">"They ain't believed in us, God did."</p>
            </div>
        </div>
        <div class="creator">
            <div class="img-container-5"><img src="https://i.imgur.com/hhkizYE.jpeg"></div>
            <div class="creator-name">
                <p class="name">Mikh</p>
                <p class="quote">"you are my sunshine"</p>
            </div>
        </div>
        <div class="creator">
            <div class="img-container-5"><img src="https://i.imgur.com/8pPLoz9.png"></div>
            <div class="creator-name">
                <p class="name">Rulet</p>
                <p class="quote">"be cool"</p>
            </div>
        </div>
    </div>
     <div class="about-us">
       
        <div class="about-desc">
          
            <p>
                Here are the list of NPM packages used for the project: express, express-handlebars, body-parser, mongoose, handlebars, bcrypt, passport, passport-local, express-session, express-flash, dotenv, and method-override. <br> <br>

                NPM install command: npm i express express-handlebars body-parser mongoose hbs bcrypt passport passport-local express-session express-flash dotenv method-override









            </p>
        </div>
    </div>
</div>