<div class="nav-div">
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a  href="/log/about" class="nav-link"> 
                <i class="logo-icon icon fa-solid fa-arrow-right"></i>
                <span class="link-text logo-text">InfoSecPH</span>
            </a>
        </li>

        <li class="nav-item" id="last-child">
            <a  href="/log/settings" class="nav-link">
                <i class="icon fa-solid fa-gear"></i>
                <span class="link-text">User Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a  href="/log/friends" class="nav-link">
                <i class="icon fa-solid fa-users"></i>
                <span class="link-text">Friends</span>
            </a>
        </li>
        <li class="nav-item">
            <a  href="/log/bookmark" class="nav-link">
                <i class="icon fa-solid fa-bookmark"></i>
                <span class="link-text">Bookmarks</span>
            </a>
        </li>
    </ul>
</nav>
</div>