<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/commons/styles/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/commons/styles/media.css">
    <link rel="stylesheet" href="/commons/styles/navbar.css">
    <link rel="stylesheet" href="/commons/styles/post.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    {{> header}}
    {{> navbar}}
    {{{body}}}
    <script src="/commons/javascripts/checkbox-validation.js"></script>
    <script src="/commons/javascripts/reply.js"></script>
    <script src="/commons/javascripts/action.js"></script>
    <script src="/commons/javascripts/search.js"></script>
  </body>
</html>